<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>busstation</display-name>
	<welcome-file-list>
		<welcome-file>jsp/login.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/busstation</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>




	<!--============================================================ 
		Controller 
		============================================================= -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>ua.busstation.web.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>ua.busstation.web.listener.ContextListener</listener-class>
	</listener>

	<!--============================================================ 
		Encoding support filter 
		============================================================= -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ua.busstation.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>


	<!--============================================================ 
		Security filter. 1) admin: admin commands 2) client: client commands 3) commons: commands 
		for all roles 4) out-of-control: commands without access control Delimiter 
		- space/tab 
		============================================================= -->
	<filter>
		<filter-name>CommandAccessFilter</filter-name>
		<filter-class>ua.busstation.web.filter.CommandAccessFilter</filter-class>
		<init-param>
			<param-name>admin</param-name>
			<param-value>users viewEditUser editUser deleteUser</param-value>
		</init-param>
		<init-param >
			<param-name>client</param-name>
			<param-value>routes buses reckoning</param-value>
		</init-param>
		<init-param>
			<param-name>common</param-name>
			<param-value>logout 
		noCommand viewSettings</param-value>
		</init-param>
		<init-param>
			<param-name>out-of-control</param-name>
			<param-value>login</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CommandAccessFilter</filter-name>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>
	
	<!--============================================================ Error page 
		============================================================= -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/error_page.jsp</location>
	</error-page>
</web-app>